{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.turbinelabs.io/v1.0"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "GoTurbine"
        },
        "description": "The Turbine Labs API provides CRUD operations for core object types, and is\nmostly RESTy. The easiest way to interact with the API is with\n[tbnctl](https://docs.turbinelabs.io/advanced/tbnctl.html).\nIf you want to make direct HTTP calls, however, you can obtain an access\ntoken using tbnctl, and then pass it in the Authorization header,\nprefixed by `Token `:\n```console\ncurl -H \"Authorization: Token <access token>\" https://api.turbinelabs.io/v1.0/cluster\n```\n",
        "title": "Turbine Labs",
        "version": "1.0",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_GoTurbine_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/turbinelabs/api/master/swagger.yml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "turbinelabs.io"
    },
    "security": [
        {
            "api_key": []
        }
    ],
    "tags": [
        {
            "description": "A logical deployment of services, which typically maps to a datacenter, availability zone, or compute cluster.",
            "name": "Zone"
        },
        {
            "description": "A configuration that can be applied to one or more running Proxies serving one or more Domains.",
            "name": "Proxy"
        },
        {
            "description": "An interface and port a Proxy will listen on",
            "name": "Listener"
        },
        {
            "description": "A served hostname and port.",
            "name": "Domain"
        },
        {
            "description": "A served path within a Domain.",
            "name": "Route"
        },
        {
            "description": "A collection of rules specifying how a request should be mapped to an instance within a cluster. These may be shared between multiple Routes.",
            "name": "Shared Rules"
        },
        {
            "description": "A collection of Instances, homogeneous in their purpose, heterogeneous in their metadata.",
            "name": "Cluster"
        },
        {
            "description": "A collection of events that have occurred in your infrastructure. This includes changes detected by the deployed collectors (new Clusters or Cluster instances) as well as routing changes through the UI or API.",
            "name": "Audit Log"
        }
    ],
    "paths": {
        "/admin/user/self": {
            "get": {
                "description": "Request the user object for an authorized requesting account.",
                "responses": {
                    "200": {
                        "description": "The authorized user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "checksum": {
                                            "type": "string"
                                        },
                                        "deleted_at": {
                                            "description": "A timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ. The timezone will always be UTC.\n",
                                            "type": "string",
                                            "x-example": "2017-08-14T17:29:11.986Z"
                                        },
                                        "login_email": {
                                            "type": "string"
                                        },
                                        "user_key": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "user_key",
                                        "login_email",
                                        "checksum"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Returns the user object for the account authorized and making this request.",
                "tags": [
                    "User Management"
                ]
            }
        },
        "/admin/user/self/access_token/{access-token-key}": {
            "delete": {
                "parameters": [
                    {
                        "description": "the key of the Access Token that should be deleted",
                        "in": "path",
                        "name": "access-token-key",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "the current checksum of the user to be modified",
                        "in": "query",
                        "name": "checksum",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f07240700b9",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An empty result if the API key deletion was successful."
                    },
                    "default": {
                        "description": "An error; may be unexpected or validation error if the last API was removed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Delete the specified access token.",
                "tags": [
                    "User Management"
                ]
            }
        },
        "/admin/user/self/access_tokens": {
            "get": {
                "responses": {
                    "200": {
                        "description": "A list of Access Tokens defined for the authenticated user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "access_token_key": {
                                                        "type": "string"
                                                    },
                                                    "checksum": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "description": "A timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ. The timezone will always be UTC.\n",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "signed_token": {
                                                        "description": "This will be set only when an AccessToken is initially created\n",
                                                        "type": "string"
                                                    },
                                                    "user_key": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "access_token_key",
                                                    "description",
                                                    "user_key",
                                                    "created_at",
                                                    "checksum"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Lists Access Tokens that are configured for the authenticated user.",
                "tags": [
                    "User Management"
                ]
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "The new Access Token that was created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token_key": {
                                            "type": "string"
                                        },
                                        "checksum": {
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "description": "A timestamp that marks when a user was deleted. It is in the format\nyyyy-mm-ddThh:mm:ss.SZ. The timezone will always be UTC.\n",
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "signed_token": {
                                            "description": "This will be set only when an AccessToken is initially created\n",
                                            "type": "string"
                                        },
                                        "user_key": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "access_token_key",
                                        "description",
                                        "user_key",
                                        "created_at",
                                        "checksum"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Creates a new Access Token and associates it with the authenticated user.",
                "tags": [
                    "User Management"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "description": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "description"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "A short string (<255 characters) describing the expected use of the token.",
                    "required": true
                }
            }
        },
        "/changelog/adhoc": {
            "get": {
                "description": "Perform an adhoc query against the change log for your org. The filter is a JSON encoded FilterSum as defined in this file.",
                "parameters": [
                    {
                        "description": "Encoded FilterSums representing the query you would like to execute. See object definition for details.",
                        "in": "query",
                        "name": "filter",
                        "x-ref-encoded-object": "#/definitions/FilterSums",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes that meet the provided filter.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Allows an arbitrary filter to be specified and applied to the org\\'s change log.",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/changelog/cluster-graph/{clusterKey}": {
            "get": {
                "description": "Gets all changes to a cluster.\n",
                "parameters": [
                    {
                        "description": "the cluster key to see an audit log for",
                        "in": "path",
                        "name": "clusterKey",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
                        "in": "query",
                        "name": "max_results",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
                        "in": "query",
                        "name": "ref_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
                        "in": "query",
                        "name": "direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "before",
                                "after"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes occurring during the requested window.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "get changes related to the indicated cluster",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/changelog/domain-graph/{domainKey}": {
            "get": {
                "description": "Gets all changes to a domain, the proxies that front the specified domain,\nroutes within that domain, the shared rules of each route, the clusters\nconnected via route or shared rules.\n",
                "parameters": [
                    {
                        "description": "the domain key to see an audit log for",
                        "in": "path",
                        "name": "domainKey",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
                        "in": "query",
                        "name": "max_results",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
                        "in": "query",
                        "name": "ref_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
                        "in": "query",
                        "name": "direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "before",
                                "after"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes occurring during the requested window.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "get changes related to the indicated domain",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/changelog/route-graph/{routeKey}": {
            "get": {
                "description": "Gets all changes to a route, the domains associated with it, the shared\nrules it references, and the clusters connected to it.\n",
                "parameters": [
                    {
                        "description": "the route key to see an audit log for",
                        "in": "path",
                        "name": "routeKey",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
                        "in": "query",
                        "name": "max_results",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
                        "in": "query",
                        "name": "ref_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
                        "in": "query",
                        "name": "direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "before",
                                "after"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes occurring during the requested window.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "get changes related to the indicated route",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/changelog/shared-rules-graph/{sharedRulesKey}": {
            "get": {
                "description": "Gets all changes associated with set of Shared Rules; the domains using\nit and the clusters referenced by it.\n",
                "parameters": [
                    {
                        "description": "the shared rules key to see an audit log for",
                        "in": "path",
                        "name": "sharedRulesKey",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
                        "in": "query",
                        "name": "max_results",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
                        "in": "query",
                        "name": "ref_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
                        "in": "query",
                        "name": "direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "before",
                                "after"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes occurring during the requested window.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "get changes related to the indicated SharedRules",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/changelog/zone/{zoneKey}": {
            "get": {
                "description": "Retrieve all changes in the specified zone.",
                "parameters": [
                    {
                        "description": "the zone key to see an audit log for",
                        "in": "path",
                        "name": "zoneKey",
                        "required": true,
                        "example": "9cd24183-f848-48f8-6f55-0f0724070000",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The beginning of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "start",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "The end of the window we want to see changes for; measured in\nmicroseconds since Unix Epoch.\n",
                        "in": "query",
                        "name": "end",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "Determines how many ChangeDescription object should be returned to\nthe calling code.\n",
                        "in": "query",
                        "name": "max_results",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "description": "When paginating a Changelog request start on the entry that comes\nimmediately before or after this ID (as determined by the direction\nargument).\n",
                        "in": "query",
                        "name": "ref_id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "If set to \"before\" then changes will be returned that occurred before\nreference ID. If \"after\" then changes will be returned that have\noccurred since the reference ID.\n",
                        "in": "query",
                        "name": "direction",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "before",
                                "after"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of changes occurring during the requested window.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "details": {
                                            "properties": {
                                                "pagination": {
                                                    "properties": {
                                                        "direction": {
                                                            "description": "The direction walked from the ref_id when building this page.",
                                                            "enum": [
                                                                "before",
                                                                "after"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "has_more": {
                                                            "description": "Whether or not there are more entries to be requested after this page.",
                                                            "type": "boolean"
                                                        },
                                                        "ref_id": {
                                                            "description": "The ID used as a reference when building this page.",
                                                            "type": "string"
                                                        },
                                                        "total_entries": {
                                                            "description": "How many total entries would have been returned in the time window\nif it had not been paginated.\n",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "result": {
                                            "items": {
                                                "properties": {
                                                    "actor_key": {
                                                        "description": "The user who made the change.",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    },
                                                    "at": {
                                                        "description": "When the change took place in milliseconds since the Unix epoch.",
                                                        "format": "int64",
                                                        "type": "number"
                                                    },
                                                    "comment": {
                                                        "description": "A description of the change.",
                                                        "type": "string"
                                                    },
                                                    "diffs": {
                                                        "description": "A collection of attribute updates that compose this change.",
                                                        "items": {
                                                            "properties": {
                                                                "change_type": {
                                                                    "description": "Whether the value was added or removed to the object.",
                                                                    "enum": [
                                                                        "addition",
                                                                        "removal"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "object_key": {
                                                                    "description": "An ID uniquely identifying the object being changed.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                },
                                                                "object_type": {
                                                                    "description": "The name of the object being being altered.",
                                                                    "enum": [
                                                                        "org",
                                                                        "user",
                                                                        "zone",
                                                                        "proxy",
                                                                        "domain",
                                                                        "route",
                                                                        "shared_rules",
                                                                        "cluster"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "path": {
                                                                    "description": "A dot-separated / bracket-indexed path to the field changed on the object.",
                                                                    "type": "string",
                                                                    "x-example": "cluster.instance[10.0.1.5:8080].metadata[pod-template-hash]"
                                                                },
                                                                "value": {
                                                                    "description": "The value that has been added or removed to the object at the attribute\npath indicated in path.\n",
                                                                    "type": "string"
                                                                },
                                                                "zone_key": {
                                                                    "description": "The zone this object is located in.",
                                                                    "type": "string",
                                                                    "x-example": "9cd24183-f848-48f8-6f55-0f0724070000"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "txn": {
                                                        "description": "A unique identifier for all this transaction. It is shared by all\nattribute updates within a change.\n",
                                                        "type": "string",
                                                        "x-example": "1c7b1c5e-1a23-4d04-5cb4-eccea4d5994c"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "fields": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "get changes in a specified zone",
                "tags": [
                    "Audit Log"
                ]
            }
        },
        "/cluster": {
            "get": {
                "description": "Get a list of clusters",
                "parameters": [
                    {
                        "description": "A JSON encoded array of ClusterFilter objects. The filter is taken\nas a union of intersections. In other words an object that matches\nevery constraint in any ClusterFilter will be included.\n",
                        "in": "query",
                        "name": "filters",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "a result containing a list of clusters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "result": {
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "properties": {
                                                            "circuit_breakers": {
                                                                "description": "Provides limits on various parameters to protect clusters against sudden\nsurges in traffic.\n",
                                                                "properties": {
                                                                    "max_connections": {
                                                                        "description": "Maximum number of connections that will be established to all\ninstances in a cluster within a proxy. If set to 0, no new connections\nwill be created. If not specified, defaults to 1024.\n",
                                                                        "type": "integer"
                                                                    },
                                                                    "max_pending_requests": {
                                                                        "description": "Maximum number of requests that will be queued while waiting on a\nconnection pool to a cluster within a proxy. If set to 0, no requests\nwill be queued. If not specified, defaults to 1024.\n",
                                                                        "type": "integer"
                                                                    },
                                                                    "max_requests": {
                                                                        "description": "Maximum number of requests that can be outstanding to all instances in\na cluster within  a proxy. Only applicable to HTTP/2 traffic since\nHTTP/1.1 clusters are governed by the maximum connections circuit\nbreaker. If set to 0, no requests will be made. If not specified,\ndefaults to 1024.\n",
                                                                        "type": "integer"
                                                                    },
                                                                    "max_retries": {
                                                                        "description": "Maximum number of retries that can be outstanding to all instances in\na cluster within a proxy. If set to 0, requests will not be retried.\nIf not specified, defaults to 3.\n",
                                                                        "type": "integer"
[...]
